# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Excel

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. Numpy

**Objectives:**
 - Some of the popular languages that Data Scientists use are
 - Below are a few examples of evaluating arithmetic expressions in Python
 - In this notebook, Data Science Tools and Ecosystem are summarized

|Data Science Tools|
|------------------|
|Jupyter notebook|
|VScode|
|spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [5]:
#This will convert 200 minutes to hours by diving by 60.
min=200
Hr=min/60
print(Hr)

3.3333333333333335

# Author
MICHEAL ASAMA